{% extends "base.html" %}

{% block title %}
    index
{% endblock %}

{% block content %}

    <h1>Index Page</h1>

    {% if request.user.is_authenticated %}
        <h1>Welcome! {{ request.user }}</h1>
        <a href="user/{{ request.user.id }}">user detail</a> or 
        <a href="{% url 'user:user_list' %}">user list</a>
        <br/><br/>
        <a href="{% url 'user:logout' %}">logout</a>
    {% else %}
        <h1>Welcome!</h1>
        <a href="{% url 'user:login' %}">login</a> or
        <a href="{% url 'user:register' %}">register</a>
    {% endif %}

{% endblock %}
